header{
    grid-area: header;
    display: flex;
    justify-content: space-between;
    background-color: #2d3844;
  }
  
  .header-pages{
    display: flex;
    justify-content: flex-start;
    list-style: none;
    color: #91999e;
    border: 1px solid grey;
  }
  
  .header-pages li{
    padding-left: 5px;
    display: grid;
    place-items: center;
  }
  
  .header-pages li a{
    text-decoration: none;
    color: #91999e;
  }
  
  .header-right-side{
    display: flex;
    gap: 20px;
  }
  
  .header-icons{
    display: flex;
  }